@{
    ViewData["Title"] = "Home Page";
}
<br>
<a href="newtrail">New trail</a>
<br>
<div id="trails">
<table>
    <tr>
        <th>Trail Name</th>
        <th>Trail Length</th>
        <th>Elevation Change</th>
    </tr>
@{
    foreach(var trail in ViewBag.all){
        <tr>
            <td><a href="trail/@trail.id">@trail.name</a></td>
            
            <td>@trail.length Miles</td>
            <td>@trail.elevation feet</td>
        </tr>
    }
}
</table>
</div>

